{$DOMAIN} {
	encode zstd gzip
	tls {$ACME_EMAIL}

	handle /assets/* {
		root * /srv/site
		file_server
	}

	handle / {
		root * /srv/site
		file_server
	}

	handle {
		reverse_proxy {$BACKEND_UPSTREAM} {
			header_up X-Forwarded-Proto {scheme}
			header_up X-Forwarded-For {remote_host}
			header_up Host {host}
		}
	}
}
